body {
  width: 1440px;
}

.tab-list {
  display: flex;
}

.tab-list-item {
  width: 25%;
  text-align: center;
  padding: 8px 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.tab-contents {
  display: none;
}

.is-btn-active {
  background-color: #0d6efd;
  color: white;
  font-weight: bold;
}

.is-contents-active {
  display: block;
}
